.cardImageDiv {
  position: relative;
  display: block;
  width: 100%;
  max-width: 560px;
  /* height: 200px;*/
  aspect-ratio: 1.65 / 1;
  width: auto;
  margin: 32px auto; /* 80 */
}
.borderCountriesDiv {
  display: flex;
  column-gap: 8px;
  row-gap: 8px;
  flex-wrap: wrap;
  margin-top: 16px;
}

.infoCommonName {
  color: hsl(var(--text));
  font-size: clamp(20px, 5vw, 24px);
  font-weight: 800;
  margin-bottom: 16px;
}
.articleOne,
.articleTwo,
.articleThree {
  font-size: clamp(16px, 4.2vw, 18px);
  color: hsl(var(--text));
  line-height: 170%;
  font-weight: 700;
  margin-bottom: 16px;
}
.articleOne > p > span,
.articleTwo > p > span {
  font-weight: 400;
}

@media only screen and (min-width: 950px) {
  .cardDiv {
    display: grid;
    grid-template-columns: clamp(280px, 59vw, 560px) auto;
    column-gap: clamp(48px, 5.05vw, 60px);
    grid-template-rows: auto auto auto;
    justify-items: left;
    margin-top: 48px;
  }
  .cardImageDiv {
    grid-row: 1 / span 2;
    margin-inline: 0;
  }
  .articleTwo {
    grid-column: 2;
  }
  .articleThree {
    grid-row: 3;
    grid-column: 1 / span 2;
    margin-top: 48px;
  }
}
@media only screen and (min-width: 1250px) {
  .cardDiv {
    grid-template-columns: 600px auto auto;
    column-gap: clamp(24px, 3vw, 40px);
    grid-template-rows: auto auto;
  }

  .articleOne {
    margin-top: 32px;
  }
  .articleTwo {
    grid-column: 3;
  }
  .articleThree {
    grid-row: 2;
    grid-column: 2 / span 2;
  }
  .articleOne,
  .articleTwo,
  .articleTwo {
    align-self: center;
  }
}
